h1{
    opacity: 0;
    animation: fade 0s 0s forwards;
}
.cursor{
    opacity: 0;
    animation: fade 0s 1s ;
}
h2{
    animation: fade 1s 4.5s forwards;
    opacity: 0;
}
.cursor2{
    opacity: 0;
    animation: fade 4.5s 4.5s forwards;
}
@keyframes fade{
    to{
        opacity: 1;
    }
}
