@import 
url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;

}
body{
    background-color: black;
}

main{
    width: 700px;
    margin: auto;
}
h1{
    /* background-color: red; */
    color: rgb(83, 204, 83);
    font-size: 58px;
    width: 290px;
    /* margin-left: -10px; */
    letter-spacing: 3px;
}
.bloco{
    width: 300px;
    animation-name: move;
   background-color: black;
    animation-duration: 3.5s;
    animation-timing-function: steps(8);
    position: absolute;
    top: 0;
    left: 630px;
}
.cursor{
    animation: fadeOut 0.3s alternate;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    background-color: rgb(83, 204, 83);
    width: 2px;
    height: 75px;
    /* margin: 10px; */
    /* float: right; */
}
.bloco2{
    /* background-color: red; */
    top:80px;
    /* width: 240px; */
    /* background-color: red; */
    left: 553px;
}
@keyframes fadeOut {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes move{
    0%{
        transform: translateX(-101%);
    }
    100%{
        transform: translateX(calc(0%));
}